/* Градиент на задний фон */
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #9f9fa6, #48484a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Прямоугольник с текстом */
  .container {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease; /* Плавный переход для всех свойств */
  }
  
  /* Эффект встряски при наведении */
  .container:hover {
    animation: shake 0.1s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }

  }
 
  /* Профильное фото */
.profile-photo {
    border-radius: 300px;  /* Круглая форма */
    width: 300px;         /* Ширина */
    height: 300px;        /* Высота */
    margin-right: 20px;   /* Отступ справа */
  }
  
  /* Контент с текстом */
  .text-content {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Стилизация контейнера */
  .container {
    /* ... (предыдущие стили) ... */
    display: flex;        /* Горизонтальное выравнивание элементов */
    align-items: center;  /* Вертикальное выравнивание элементов */
  }
  
/* Стиль для специализации */
.role {
    font-size: 24px;  /* Увеличенный размер шрифта */
  }
  
  /* Кнопка "Связаться" */

.contact-icon {
    width: 50px;        /* Ширина */
    height: 50px;       /* Высота */
    cursor: pointer;    /* Изменение курсора при наведении */
  }
  
  .contact-icon:hover {
    opacity: 0.8;       /* Прозрачность при наведении */
  }
  